body {
    background-color:rgb(245, 250, 252);
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #077579;
    color: rgb(245, 250, 252);
    display: flex;
    justify-content: space-between;
    height: 8rem;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15)
}

.icono {
    width: 18rem;
    height: auto;
}

nav {
    margin: 2.5rem;
    display: flex;
    gap: 1rem;
    height: 3rem;
}
nav a {
    text-decoration: none;
    color: #bfeef3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.8rem 1.5rem;
    transition: .3s;
    font-weight: bold;
}
nav a:hover {
    background-color: #a0dce4;
    color: #077579;
    transform: scale(1.05);
}

.hamburguesa{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 2rem 6rem;
}
.cerrar{
    display: none;
}
@media (max-width: 900px){

    nav{
        display: none;          /* <-- Faltaba esto */
        width: 250px;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        margin: 0;
        box-sizing: border-box;              /* Para que quede debajo del header */
        right: 0;
        background-color: #077579;
        padding: 4rem 1rem 1rem 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .cerrar{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }

    nav.activo{
        display: flex;
    }

    .hamburguesa{
        display: block;
    }

}

body {
    margin: 0;
    padding-top: 8rem;

}

.hero{
    width: 100%;
    min-height: 80vh;
    background:
        linear-gradient(
            rgba(0,0,0,.5),
            rgba(0,0,0,.5)
        ),
        url("fondo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    filter: brightness(20%);
}

.overlay{
    width: 80%;
    max-width: 500px;
    margin-top: 10rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    color: #bfeef3;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
}

.overlay h2{
    margin-bottom: 2rem;
}

.btn-turnos{
    display: inline-block;

    text-decoration: none;
    color: black;
    background-color: rgb(191, 238, 243);

    padding: 1rem 2rem;
    border-radius: 30px;

    font-weight: bold;

    transition: .3s;
}

.btn-turnos:hover{
    background-color: rgb(160,220,228);
    transform: scale(1.05);
}